<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APEXランダムキャラクター</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {% for rec in result %}
    <div>
        <h1>{{rec.name}}</h1>
        <p><img src="/static/images/{{rec.image}}" alt=""></p>
    </div>
    {% endfor %}

    <form action="result" method="post">
        <input type="submit" value="ランダム" class="button">
    </form>
</body>

</html>